navbar(class="navbar navbar-expand-sm")
  a(class="navbar-brand" href="/")
    img(width="35" height="30" src="/images/logo.png")
    
  div(class="")
    |Canadian Tire Trois-Rivières
  ul(class="navbar-nav ml-auto")

    li(class="nav-item")
      a(class="nav-link" href="/register") Caisses

    li(class="nav-item")
      a(class="nav-link" href="/items") Articles
    li(class="nav-item")
      a(class="nav-link" href="/orders") Ventes