extends layouts/main

block content
  .content-title
    h1 Succursale de Trois-Rivières
  .content-data
    p Bienvenue sur le site officielle de gestion des Canadian Tire
    p Faites votre choix à l'aide de la barre de menu