extends layouts/main

block content
  .content-title
    h1 Rapport des commandes
  .content-data
    p Ici se tiendra un rapport des commandes de la journée !
    p Ce formulaire sera en lecture seule mais incluera les montant totaux ainsi que la possibilité de voir le détail d'une commande spécifique